.menu
  .menu__item= link_to 'Search', search_path, class: 'menu__link'
  .menu__item.menu__item--active Stats

.stats-container
  - @stats_data.each do |interval, data|
    .interval
      .interval__header= interval.to_s.upcase
      .interval__content
        .analytics
          .analytics__header Top searches
          .analytics__content
            - data[:analytics].each do |text, count|
              .analytics-item
                .analytics-item__text= text
                .analytics-item__count= count
        .trends
          .trends__header Trends
          .trends__content
            - data[:trends].each do |text, count|
              .trends-item
                .trends-item__text= text
                .trends-item__count= count
